<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Credential</title>
    <link href="{{ url_for('static', filename='font-awesome/4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
</head>
<body>
    <form action="/add-credential" method="post">
        <p>Add Credential</p>

        <div>
            <i class="fa fa-terminal prefix grey-text"></i>
            <!-- TODO: load commands from JSON -->
            <select id="command_id" name="command_id">
                {% for command in commands %}
                <option value="{{ command.id }}">{{ command.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <i class="fa fa-server prefix grey-text"></i>
            <input type="text" id="host" name="host" placeholder="Host">
        </div>
        <div>
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div>
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>