<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credentials</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Host</th>
                <th>Username</th>
                <!--TODO: hide password-->
                <th>Password</th>
                <th>Command</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: load credentials from JSON -->
            {% for credential in credentials %}
            <tr>
                <td>{{ credential.host }}</td>
                <td>{{ credential.username }}</td>
                <td>{{ hexlify(credential.password).decode('utf-8') }}</td>
                <td>{{ credential.command_id }}</td>
                <td><button class="execute" credential-id="{{ credential.id }}">Execute</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="add-credential">Add Credential</button>
    <script src="{{ url_for('static', filename='jquery/2.2.3/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.execute').click(function() {
                payload = $(this).attr('credential-id');
                console.log(payload);
                $.ajax({
                    type: "POST",
                    url: "/credentials",
                    contentType: 'application/json',
                    data: JSON.stringify(payload),
                    dataType: 'json'
                });
            });
            $('#add-credential').click(function() {
                window.location.href = "/add-credential";
            });
        });
    </script>
</body>
</html>